.G1{
color: blueviolet;font-size: 30px;font-weight: bolder;text-align: center;
}
.G2{
color: crimson;font-size: 30px;font-weight: bolder;text-align: center;
}
.G3{
color: blue;font-size: 30px;font-weight: bolder;text-align: left;
}
.G4{
color: brown;font-size: 30px;font-weight: bolder;text-align: left;
}